.leaderBoardMaskContainer {
  width: calc(100vw * 348 / 390);
  height: calc(100vw * 632 / 390);
  background-image: url('/img/mobile/bigMask.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: calc(100vw * 20 / 390);
  position: relative;

  .leaderBoardMaskContent {
    background-image: url('/img/mobile/bigContentBg.png');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    .leaderBoardMaskContentList {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: calc(100vw * 8 / 390);
      align-self: center;
      width: 100%;
      padding: 0 calc(100vw * 26 / 390);

      .leaderBoardMaskContentListItem {
        display: flex;
        height: calc(100vw * 56 / 390);
        padding-right: calc(100vw * 12 / 390);
        align-items: center;
        gap: calc(100vw * 20 / 390);
        width: 100%;

        &.leaderBoardMaskContentListItemActive {
          border-radius: calc(100vw * 6 / 390);
          background: rgba(124, 198, 255, 0.21);

          .leaderBoardMaskContentListItemIndex {
            color: #FFEDA7;
          }
        }

        .leaderBoardMaskContentListItemIndex {
          width: calc(100vw * 25 / 390);
          display: flex;
          justify-content: center;
          align-items: center;
          color: #74E3FF;
          text-align: center;
          font-family: Audiowide;
          font-size: calc(100vw * 16 / 390);
          font-style: normal;
          font-weight: 400;
        }

        .leaderBoardMaskContentListItemAddress {
          flex: 1;
          color: #FFF;
          font-family: "Bakbak One";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
        }

        .leaderBoardMaskContentListItemAvatar {
          display: flex;
          gap: calc(100vw * 11 / 390);
          align-items: center;

          .leaderBoardMaskContentListItemScores {
            text-align: right;
            font-family: "Bakbak One";
            font-size: calc(100vw * 18 / 390);
            font-style: normal;
            font-weight: 400;
            background: linear-gradient(180deg, #FFE2F2 0%, #A5BAFF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

      }
    }
  }


}

.text {
  color: #FFF;
  text-align: center;
  font-family: "Alte DIN 1451 Mittelschrift";
  font-size: calc(100vw * 16 / 390);
  font-style: normal;
  font-weight: 400;
  line-height: calc(100vw * 26.8 / 390);
}

.imgItem {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 90 / 390);
  height: calc(100vw * 80 / 390);
  justify-content: space-between;
  align-items: center;
}