.gameLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  

  .gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: calc(100vw * 20 / 390);
    // padding: 0 calc(100vw * 50 / 390);

    .gameStatusContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .message {
        margin-bottom: calc(100vw * -20 / 390);
      }

      .gameStatusContainerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(100vw * 20 / 390);
        margin-top: calc(100vw * 20 / 390);
        .gameStatusContainerCardItem {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .score {
          display: flex;
          width: 53px;
          height: 38px;
          padding: 8px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.31);
          color: #FFF;
          font-family: "Alte DIN 1451 Mittelschrift";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }

    .chipsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: calc(100vw * 16 / 390);;
      margin-bottom: calc(100vw * 30 / 390);
      margin-top: calc(100vw * 30 / 390);
    }

    .desc {
      color: #FFF;
      text-align: center;
      font-family: "Alte DIN 1451 Mittelschrift";
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      margin-top: 10px;
    }

    .balanceContainer {
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.31);
      display: flex;
      width: 100px;
      height: 40px;
      padding:0 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      position: relative;
      margin-bottom: 51px;

      .balance {
        flex: 1;
        color: #ffffff;
        text-align: center;
        font-family: "Alte DIN 1451 Mittelschrift";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .gameContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 calc(100vw * 20 / 390);
    gap: calc(100vw * 10 / 390);
    padding-bottom: calc(100vw * 20 / 390);

    .hands {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // gap: calc(100vw * 10 / 390);
      width: 100%;

      .cards {
        display: flex;
        align-items: center;
        position: relative;

        .cardValues {
          position: absolute;
          bottom: calc(100vw * 8 / 390);
          right: calc(100vw * 72 / 390);
          display: flex;
          font-size: calc(100vw * 20 / 390);
          width: calc(100vw * 30 / 390);
          height: calc(100vw * 30 / 390);
          padding: calc(100vw * 7 / 390);
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: calc(100vw * 7 / 390);
          background: rgba(0, 0, 0, 0.90);
          color: #ffffff;
        }

        &.isPlayer {
          padding-right: calc(100vw * 66 / 390);
        }

       
      }

      .card {
        width: calc(100vw * 66 / 390);
        height: calc(100vw * 88 / 390);
        
        transition: all 3s;
        display: inline-block;
        position: relative;

        &:nth-child(n+1) {
          position: relative;
          left: calc(100vw * -50 / 390);
          margin-right: calc(100vw * -50 / 390);
        }
       
      }

      .playingCard {
        width: calc(100vw * 66 / 390);
        height: calc(100vw * 88 / 390);
      }

      .dealer-hand {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(100vw * 20 / 390);
        .card {
          &.ani {
            animation: deal-dealer .25s linear;
          }

          

          &.flipped {
            animation: dealer-cardflip .25s linear;
          }
        }
      }

      .player-hands {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(100vw * 20 / 390);
        .user-handle {
          flex: 1;

          .card {
            animation: deal-player .5s linear;
          }

          &.inActive {
            transform: scale(.8);
            .cards {
              padding-right: 0;
            }

            .card {
              animation: deal-player-split .5s linear;
            }
          }
        }
      }
    }

    .operationContainer {
      // flex: 1;
      display: flex;
      flex-direction: column;
      // gap: calc(100vw * 20 / 390);
    
      .betContainer {
        gap: calc(100vw * 9 / 390);
        display: flex;
        align-items: center;
        justify-content: center;

        .bet {
          border-radius: calc(100vw * 8 / 390);
          background: rgba(0, 0, 0, 0.31);
          display: flex;
          width: calc(100vw * 55 / 390);
          height: calc(100vw * 36 / 390);
          padding:calc(100vw * 8 / 390);
          justify-content: center;
          align-items: center;
          color: #ffffff;
          text-align: center;
          font-family: "Alte DIN 1451 Mittelschrift";
          font-size: calc(100vw * 21 / 390);
          font-style: normal;
          font-weight: 400;
        }
      }

      .buttonContainer {
        display: flex;
        flex-direction: column;
        .buttonContainerItem {
          display: flex;
          gap: calc(100vw * 20 / 390);;
        }
      }

    }
  }



  .toastMaskContainer {
    .toastMaskContent {
      background-image: url('/img/toast.png');
      width: calc(100vw * 200 / 390);
      height: calc(100vw * 50 / 390);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-family: "DM Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
    }
  }


}
.toastMaskContainerWrap {
  background-color: transparent !important;
  align-items: flex-start !important;
  margin-top: calc(100vw * 60 / 390);
}



@keyframes deal-player {
  0% {
    transform: translate(-90px, -150px);
  }

  50% {
    transform: translate(-50px, -50px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes deal-player-split {
  0% {
    transform: translate(-90px, -450px);
  }

  50% {
    transform: translate(-50px, -150px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes deal-dealer {
  0% {
    transform: translate(-100px, 0px);
  }

  50% {
    transform: translate(-50px, 0px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes dealer-cardflip {
  0% {
    transform: rotateY(25deg);
  }

  50% {
    transform: rotateY(100deg);
  }

  100% {
    transform: none;
  }
}