.gameLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  .gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    .gameStatusContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .gameStatusContainerCard {
        display: flex;
        align-items: center;
        gap: 54px;
        margin-top: 40px;

        .score {
          display: flex;
          width: 63px;
          height: 45px;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.31);
          color: #FFF;
          font-family: "Alte DIN 1451 Mittelschrift";
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }

    .desc {
      color: #FFF;
      text-align: center;
      font-family: "Alte DIN 1451 Mittelschrift";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      margin-top: 10px;
    }

    .balanceContainer {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.31);
      display: flex;
      width: 125px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .balance {
        color: #ffffff;
        text-align: center;
        font-family: "Alte DIN 1451 Mittelschrift";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  .gameContainer {
    display: flex;
    gap: 140px;
    width: 100%;

    .hands {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 50px;

      .cards {
        display: flex;
        align-items: center;
        position: relative;

        .cardValues {
          position: absolute;
          bottom: 12px;
          right: 101px;
          display: flex;
          width: 30px;
          height: 30px;
          padding: 7.19px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 7.19px;
          background: rgba(0, 0, 0, 0.90);
          color: #ffffff;
        }

        &.isPlayer {
          padding-right: 101px;
        }

       
      }

      .card {
        width: 101px;
        height: 128px;
        
        transition: all 3s;
        display: inline-block;
        position: relative;

        &:nth-child(n+1) {
          position: relative;
          left: -50px;
          margin-right: -50px;
        }
       
      }

      .dealer-hand {
        .card {
          &.ani {
            animation: deal-dealer .25s linear;
          }

          

          &.flipped {
            animation: dealer-cardflip .25s linear;
          }
        }
      }

      .player-hands {
        .user-handle {
          flex: 1;

          .card {
            animation: deal-player .5s linear;
          }

          &.inActive {
            transform: scale(.8);
            .cards {
              padding-right: 0;
            }

            .card {
              animation: deal-player-split .5s linear;
            }
          }
        }
      }
    }

    .operationContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 68px;
      width: 400px;

      .betContainer {
        display: flex;
        flex-direction: column;
        width: 88px;
        align-items: center;

        .bet {
          margin-top: 15px;
          border-radius: 10px;
          background: rgba(0, 0, 0, 0.31);
          display: flex;
          width: 77px;
          height: 50px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          text-align: center;
          font-family: "Alte DIN 1451 Mittelschrift";
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
        }
      }

      .buttonContainer {
        display: flex;
        flex-direction: column;
      }

    }
  }



  .toastMaskContainer {
    .toastMaskContent {
      background-image: url('/img/toast.png');
      width: 544px;
      height: 116px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-family: "DM Sans";
      font-size: 17.6px;
      font-style: normal;
      font-weight: 700;
    }
  }





}



@keyframes deal-player {
  0% {
    transform: translate(-90px, -150px);
  }

  50% {
    transform: translate(-50px, -50px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes deal-player-split {
  0% {
    transform: translate(-90px, -450px);
  }

  50% {
    transform: translate(-50px, -150px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes deal-dealer {
  0% {
    transform: translate(-100px, 0px);
  }

  50% {
    transform: translate(-50px, 0px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes dealer-cardflip {
  0% {
    transform: rotateY(25deg);
  }

  50% {
    transform: rotateY(100deg);
  }

  100% {
    transform: none;
  }
}