.page-container {
  background-image: url('/img/mobile/gameNew.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: -webkit-fill-available;
  box-sizing: border-box;
  position: relative;
  background-color: #331950;
  display: flex;
  flex-direction: column;

  .page-container-header {
    height:  calc(100vw * 52 / 390);;
    background: linear-gradient(90deg,
        rgba(0, 0, 0, 0) 0.49%,
        rgba(61, 9, 152, 0.8) 35.32%,
        rgba(207, 53, 231, 0.8) 50.32%,
        rgba(60, 8, 152, 0.8) 65.17%,
        rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    padding: 0 12px 0 22px;
    position: relative;
    justify-content: space-between;



    .page-container-header-address {
      background-image: url('/img/address.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width:  calc(100vw * 220 / 390);;
      height:  calc(100vw * 25 / 390);;
      padding: 0  calc(100vw * 8 / 390);;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .page-container-header-address-text {
        color: #ffffff;
        flex: 1;
        max-width:  calc(100vw * 210 / 390);;
        font-family: "DM Sans";
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .page-container-header-right {
      display: flex;
      gap:  calc(100vw * 20 / 390);;

      .page-container-header-right-balance {
        background-image: url('/img/total.png');
        width:  calc(100vw * 112 / 390);;
        height:  calc(100vw * 40 / 390);;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: #FFF;
        font-family: "DM Sans";
        font-size:  calc(100vw * 17.6 / 390);
        font-style: normal;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right:  calc(100vw * 8 / 390);;
      }
    }

  }

  .page-container-content {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom:  calc(100vw * 90 / 390);;

    .page-container-header-right-balance {
      background-image: url('/img/total.png');
      width:  calc(100vw * 77 / 390);;
      height:  calc(100vw * 27 / 390);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #FFF;
      font-family: "DM Sans";
      font-size:  calc(100vw * 15 / 390);;
      font-style: normal;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right:  calc(100vw * 8 / 390);;
      margin-right:  calc(100vw * 12 / 390);;
    }
  }

  .page-container-bottom {
    padding-right: calc(100vw * 32 / 390);
    padding-left: calc(100vw * 12 / 390);
    padding-bottom: calc(100vw * 10 / 390);
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}